

analyses/DNR_Skyline_20170524/2017-06-10-peptide-transition-results-MSstats-no-pivot-error-checked.csv

analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-skyline-to-msstats-peak-areas-sites-only.csv

analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-skyline-to-msstats-peak-areas-sites-eelgrass.csv

analyses/DNR_Skyline_20170524/2017-06-10-protein-areas-only-error-checked.csv

analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-22-skyline-to-msstats-peak-areas.csv

analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-MSstats-Sites-Differential-Expression.csv

analyses/DNR_Skyline_20170524/2017-06-22-MSstats/2017-06-30-MSstats-Sites-Eelgrass-Differential-Expression.csv
